@import '@/src/styles/variables.module.scss';

.loading {
  border: 3px solid darken($color-brand, 15%);
  border-radius: 50%;
  border-top: 3px solid lighten($color-brand, 10%);
  animation: spin 1s linear infinite;
  display: inline-block;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
